html { 
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family: source code pro, sans-serif;
    background: url('') no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
    background: white;
}

#main-container {
    display: none;
}
#preloader {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #212121 ;
    background-repeat: no-repeat;
    background-position: center;
}

input#name {
    text-transform: capitalize;
    color: whitesmoke;
}

#logo {
    background: url('../images/empty-logo.png');
    width: 100%;
}

.logo {
    max-width: 55px;
}

.logo-preloader {
    width: 13%; 
    top: 30%;
    position: fixed;
    top: 30%;
    left: 45%;
}

.rp{
    color: #ff5252;       
}

.parallax-container {
      min-height: 700px;;
    }

.img-auto {
    width: 100%;
}

#section-2 {  
}

#section-3{
    height: 100%; 
}

.section-4 { 
}

.about {
}

.img-auto{
    width: 100%;
}

#online-portfolio, #bbj, #globe1, #globe2{
    opacity: .01;
}

.rp {
 font-size: 2em;   
}

img.exempt {
    width: 100%
}

.case-btn {
    vertical-align: bottom;
}

.middle {
    top: 30%;
}

a.sitemap {
 color: white;
}
a.sitemap:active, a.sitemap:visited, a.sitemap:link {
 color: white;   
}

footer a{
 color: white;   
}

#section-1 {
    min-height: 768px;
}

.mockup {
    width: 50%;
}

.parallax-window {
    min-height: 500px;
    background: transparent;
}