html { 
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family: source code pro, sans-serif;
    background: url('') no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
    background: white;
}

#logo {
    background: url('../images/empty-logo.png');
    width: 100%;
}

.logo {
    max-width: 55px;
}

.rp{
    color: #ff5252;       
}

.parallax-container {
      min-height: 700px;;
    }

.img-auto {
    width: 100%;
}

#section-2 {  
}

#section-3{
    height: 100%; 
}

.section-4 {
    padding: 5% 0;   
}

.about {
    padding: 5% 0;
}

.img-auto{
    width: 100%;
}

img {
    width: 100%
}

.case-btn {
    vertical-align: bottom;
}


#section-1 {
    ;
}

.mockup {
    width: 50%;
}

.parallax-window {
    min-height: 500px;
    background: transparent;
}